@import "../../theme";

.signature {
  &__icon {
    text-align: center;
    font-size: 40px;
  }

  &__address {
    background-color: @yellow-color;
    color: @white;
    height: 32px;
    padding: 4px 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--signed {
      background-color: @green-color;
    }
  }
}
