.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.statistic {
  margin: 10px;
}

.address {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copyIcon {
  margin-top: 22px;
  padding: 10px 6px;
  cursor: pointer;
}