.upload {
  border: 1px dashed rgb(180, 178, 178);
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &__input {
    visibility: hidden;
    position: absolute;
  }

  &__icon {
    font-size: 40px;
  }
}
