@primary-color: #582090;
@menu-dark-bg: #231150;
@processing-color: #231150;
@dark-theme-logo: #231150;
@menu-item-active-bg: #e4e4e4;
@white: #ffffff;
@primary-color-hover: #6f3b9c;
@yellow-color: #d4b106;
@green-color: #52c41a;
@black: #000000;
@gray-color: #d9d9d9;
